.content-section {
  min-height: calc(100vh - 130px);
  padding: 2%;
}

.Header-section {
  background: #1a2930;
  color: #f7ce3e;
  border-bottom: solid 1px #f7ce3e;
  height: 50px;
  font-size: 30px;
  padding-left: 20px;
  .search {
    display: inline-block;
    width: 300px;
    margin-top: 5px;
    position: absolute;
  }
  h1,
  h5 {
      display: inline-block;
      color: #f7ce3e;
      padding-right: 30px;
  }
  .right-panel {
    display: inline-block;
    float: right !important;
  }
  .anticon {
    padding-right: 20px;
    cursor: pointer;
  }
}