.application-section {
    margin-top: 25px;
    .ant-tabs-bar {
        margin: 0;
       
    }
    .ant-tabs-content {
        border: 1px solid #1890ff;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
        background: #1890ff;
        color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .ant-tabs-nav .ant-tabs-tab {
        padding: 12px 50px;
        margin: 0;
    }
}